@import "tailwindcss";

.heading{
  @apply text-3xl font-bold
}

.description-heading-client{
  @apply text-justify
}

.main-heading{
  @apply text-5xl font-semibold
}

.sub-heading{
  @apply text-2xl font-semibold
}
.container{
  @apply  mx-auto px-[20px]
}

.input-style{
  @apply border px-4 py-2 border-neutral-400 rounded-lg
}
@theme{
  --breakpoint-mobile: 30rem;       /* 480px */
  --breakpoint-tablet: 48rem;       /* 768px */
  --breakpoint-laptop: 64rem;       /* 1024px */
  --breakpoint-desktop: 80rem;      /* 1280px */
  --breakpoint-large-desktop: 96rem; /* 1536px */
}
@keyframes slideIn {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(50%);
    opacity: 1;
  }
  to {
    transform: translateX(0%);
    opacity: 0;
  }
}

.slide-in {
  animation: slideIn 0.3s ease-in-out backwards;
}

.slide-out {
  animation: slideOut 0.3s ease-in-out backwards;
}